alabaster==0.7.9
appdirs==1.4.0
Babel==2.3.4
bootstrap-py==0.6.0
colorama==0.3.7
coverage==4.3.4
cycler==0.10.0
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11rc1
django-taggit==0.22.0
docutils==0.13.1
gitdb2==2.0.0
GitPython==2.1.1
gunicorn==19.7.1
imagesize==0.7.1
Jinja2==2.9.5
MarkupSafe==0.23
matplotlib==1.5.2
numpy==1.11.1
packaging==16.8
pguard==0.3.0
Pillow==3.4.2
psycopg2==2.7.1
Pygments==2.2.0
pyparsing==2.1.10
pyserial==3.1.1
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.13.0
six==1.10.0
smmap2==2.0.1
snowballstemmer==1.2.1
Sphinx==1.5.2
virtualenv==15.1.0
whitenoise==3.3.0
