{% extends "qBot/base.html" %}


{% block content %} {# content contains one question objects, possibly many answer objects #}
    <br>
    {# Quesiton header #}
    <div class="container">
        <div class="inputForm">
            <h1>{{ question.title }}</h1>
            {# Question body #}
            <p class="lead">{{ question.body}}</p>

            {# Loop over previous answers (by time?) #}
            {% if answers %}
                {% for answer in answers %}
{#                    panel is a standard bootstrap box with a grey header #}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                              {{ answer.created_at }}
                        </div>

                    {#                                                  gets the body of the answer#}
                    <div class="panel-body">

                        {{ answer.body }}
                        <div style="float: right";>

                        <a href="/questions/{{ question.id }}/answer_vote?answer={{ answer.id }}&votetype=up" type="button" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </a>
                        {{ answer.votes }}
                        <a href="/questions/{{ question.id }}/answer_vote?answer={{ answer.id }}&votetype=down" type="button" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                        </div>
                        <br>
                    </div>
                    </div>

                {%  endfor %} {# answers #}
            {% else %} {# answers #}
                <div class="panel-body"> No answers yet! </div> {# Change the style here #}
            {% endif %} {# answers #}




            {# Answer input field #}

            <form method="post">
                {% csrf_token %}
                <div class="control-group">
                    {# <label class="control-label" for="body">Your answer</label> #}
                    <div class="controls">
                        <textarea class="form-control vresize" rows="2" id="body" name="body" placeholder="Your answer here"></textarea>
                    </div>
                </div>
                <input class="btn btn-default" type="submit" value="Answer">
            </form>
        </div>
    </div>
{% endblock content %}