.inputForm {
    margin: 100px auto;
    width: 40%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 40px;
}

.inputForm [type=submit] {
    margin: 10px auto;
}

.inputForm input[type=text]{

}

.vresize {
    resize: vertical;
}

#logo img {
    width: 45px;
    margin-top: -13px;
}

