<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'qBot/style/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'qBot/style/mainstyle.css' %}">
    <title> qBot </title>
</head>

<body>
{#this is out navbar - do not touch#}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
{#        when screen gets to narrow, use hamburger menu#}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
{#            our qBot logo#}
            <a class="navbar-brand" id="logo" alt="Logo" href="/questions/">
                <img {% load static %} src={% static 'qBot/images/logo.svg' %}>
            </a>
            </div>

        {#if the user is not logged in, show a navbar with "Sign in" and "register"#}
        {% if user.is_anonymous %}
            <div class="collapse navbar-collapse" id="navbar-collapse-3">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login">Sign in</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>

        {#if user is logged in, show navbar with other options#}
        {% else %}
            <div class="collapse navbar-collapse" id="navbar-collapse-3">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/questions/">Home</a></li>
                    <li><a href="/questions/create_question">New question</a></li>
                    <li><a href="/questions/myquestions/">My questions</a></li>
                    <li><a href="/questions/pinned">Favourite questions</a></li>
                    <li><a href="/about/">About</a></li>
                    <form class="navbar-form navbar-left" role="search" method="get" action="#">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.GET.q }}">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </div>

        {% endif %}

      </div>
    </nav>


    {#    this code indicates that content from other templates will be put here #}
    {% block content %}
    {% endblock content %}

    <script type ="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type ="text/javascript" src="{% static 'qBot/scripts/bootstrap.min.js' %}"></script>
</body>
</html>