<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'qBot/style/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'qBot/style/mainstyle.css' %}">
    <title> qBot </title>
</head>
<body>
    {#    here you can put your genral html e.g a navbar    #}


    {#    this code indicates that content from other templates will be put here #}
    {% block content %}
    {% endblock content %}


    <script type ="text/javascript" src="{% static 'qBot/scripts/bootstrap.min.js' %}"></script>
</body>
</html>