{% extends "qBot/base.html" %}

{% block content %}
    </br>
    </br>
    </br>
    <ul class="nav nav-tabs">
        <li role="presentation" {% if tabs == 'newest' %}class="active" {% endif %}><a href="{% url 'questions:newest' %}">Newest</a></li>
        <li role="presentation" {% if tabs == 'oldest' %}class="active" {% endif %}><a href="{% url 'questions:oldest' %}">Oldest</a></li>
        <li role="presentation" {% if tabs == 'most_votes' %}class="active" {% endif %}><a href="{% url 'questions:most_votes' %}">Most votes</a></li>
    </ul>
{% block navtabs %}
{% endblock navtabs%}
{% endblock content %}