.inputForm {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px 20px;
    max-width: 500px;
    margin: 0 auto;
}

.container {
    margin-top: 70px;
}


.inputForm [type=submit] {
    margin: 10px auto;
}

.inputForm input[type=text]{

}

.vresize {
    resize: vertical;
}

#logo img {
    width: 45px;
    margin-top: -13px;
}

.panel-body {
    word-wrap: break-word;
}
@media (min-width: 1118px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}

  body{
  padding-top:25px !important;
}
.stats {
  text-align:center;
  text-shadow:1px 1px 0px #fff;
  margin-top:25px;

}
.stats li{
  width:125px;
}
.stats span{
  font-family:Helvetica;
  font-weight:bold;
  text-shadow:1px 1px 0px #fff;
  font-size:4em;

  display:block;
  line-height:1em;
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .profile img{
    width:75px;
  }
  .profile h2{
    font-size:1.7em;
  }
  .stats span{
    font-size: 2em;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

.progress {
    height: 50px !important;
    }

